@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #e5e5e5;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1055px;
}
.form-container {
  max-width: 1063px;
}
.page-content {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
}

.table {
  overflow: scroll;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #828282;
  font-size: 14px;
}

table thead {
  background: #f9fafb;
  border-bottom: none;
  color: #828282;
  text-transform: capitalize;
  padding: 0.625em 0;
  border-bottom: solid 1px #e5e7eb;
}

table tr {
  padding: 0.35em;
}

table tr:nth-child(even) {
  background: #f9fafb;
}

table th,
table td {
  padding: 1.25em;
  text-align: left;
}

table th {
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.782rem;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead th {
    display: none;
  }

  table tr {
    display: block;
  }

  table td {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    text-align: left;
  }

  table td::before {
    content: attr(data-label);
    display: block;
    font-weight: light;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0.6em;
    color: #1976d2;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
